body{
    background-color: rgb(127, 202, 222);
}

#div1{
    background-color: rgb(38, 150, 181);
    /* align-items: center; */
    text-align: center;
    /* padding-top: 70px; */
    font-size: large;
    height: 450;
    width: 500;
    margin-top: 50px;
    margin-left: 500px; 
    border: 5px solid;
    border-radius: 1em;
    border-style:inset;
    padding: 10px;
    /* box-shadow: 7px 10px #785a5a; */
}
#name{
    background-color: antiquewhite;
    margin-left: 60px;
    border-radius: 1em;
}
#email{
    background-color: antiquewhite;
    margin-left: 60px;
    border-radius: 1em;
}
#password{
    background-color: antiquewhite;
    margin-left: 34px;
    border-radius: 1em;
}
#dob
{
    border-radius: 1em;
    margin-left: 76px;
    width: 170px;
}
.dob
{
    margin-left: 1px;
}
.btn1{
    background-color: #785a5a;
    border-radius: 2em;
    height: 30px;
    width: 100px;
}
.div2{
    background-color: #785a5a ;
    border: 1px solid black;
}
#user-entries{
    background-color: #785a5a;
}
#div3{
    background-color: #785a5a;
    border: 1px solid black;
}
tr{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}
